<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>

    <% users.forEach(function(user){ %>
      <li ><%= user.name %></li>
    <% }) %>


    </p>
</body>

</html>