* {
    padding: 0;
    margin: 0;
}

.viewport-full {
    width: 100vw;
    height: 100vh;
    background-color: rgb(241, 241, 247);
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    width: 600px;
    height: 270px;
    background-color: rgb(112, 220, 247);
}

.title {
    height: 50px;
    background-color: rgb(71, 132, 201);
    padding-left: 20px;
    display: flex;
    justify-content: start;
    align-items: center; 
}

.form-input {
    margin-left: 150px;
    width: 300px;
    margin-top: 10px;
    height: 70px;
    /* background-color: violet; */
    display: grid;/*这里使用grid并不合理，应该使用table，因为grid适合非均匀摆放*/
    grid-template-columns: 100px 200px;
    grid-template-rows: 30px 30px;
    grid-template-areas:
        "prompt1 input1"
        "prompt2 input2"
        "prompt3 input3";
}
.prompt1{
    margin:3px;
    padding-right: 5px;
    justify-self: end;
    grid-area: prompt1;
    /* background-color:red; */
}
.prompt2{
    margin:3px;
    padding-right: 5px;
    justify-self: end;
    grid-area: prompt2;
    /* background-color:red; */
}
.prompt3{
    margin:3px;
    padding-right: 5px;
    justify-self: end;
    grid-area: prompt3;
    /* background-color:red; */
}
.input1{
    width: 180px;
    justify-self: start;
    grid-area: input1;
    /* background-color:red; */
}
.input2{
    width: 180px;
    justify-self: start;
    grid-area: input2;
    /* background-color:red; */
}
.input3{
    width: 180px;
    justify-self: start;
    grid-area: input3;
    /* background-color:red; */
}
.captcha-img{
    margin-top: 10px;
    margin-left: 250px;
    width: 100px;
    height: 40px;
}
.captcha-prompt{
    margin-left: 150px;
    width: 95px;
    height: 30px;
    padding-right: 5px;
    /* background-color:red; */
    display: inline-flex;
    justify-content: flex-end;
    align-items: center; 
}
.captcha-input{
    width: 180px;
    height: 30px;
    /* background-color:palevioletred; */
}
.submit{
    margin-top: 10px;
    margin-left: 210px;
    width: 180px;
    height: 30px;
    /* background-color:palevioletred; */
}